@use "../utils/variables" as *;
@use "../utils/functions" as *;

:root {
  // Base
  --base-transition: 0.2s linear;
  --long-transition: 0.4s linear;
  --header-width: #{$header-width};
  --section-width: #{$section-width};

  --color-black: #{$black};
  --color-white: #{$white};
  --color-primary: #{$primary};
  --color-brand: #{$brand};
  --color-white-paper: #{$white-paper};

  /* Fonts */
  --font-lexend: "Lexend";
  --font-montserrat: "Montserrat";
  --font-roboto: "Roboto";
  --font-pixelify: "Pixelify Sans";

  // Light theme
  --background: var(--color-white);
  --header-background: var(--color-white);
  --primary-tiny: #{opacity-color($primary, 0.1)};
  --text-dark: #{opacity-color($black, 0.6)};
  --text-light: #{opacity-color($white, 0.6)};
  --border-primary: #{opacity-color($primary, 0.3)};
  --rounded: #{spacing(8)};
  --button-hover: linear-gradient(
    180deg,
    #{opacity-color($primary, 0.1)} 0%,
    #{opacity-color($white-paper, 0.1)} 100%
  );
}
