@use "../../utils/functions" as *;
@use "../../utils/mixin" as *;

.features {
  &-content {
    display: flex;
    flex-direction: column;
    gap: spacing(12);
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(12);

    @include md {
      gap: spacing(8);
    }

    @include sm {
      flex-direction: column;
    }

    & h3 {
      font-weight: 600;
      font-size: spacing(10);
    }

    & p {
      color: var(--text-dark);

      & span {
        color: var(--color-primary);
      }
    }

    & svg {
      min-width: spacing(25);
      min-height: spacing(25);
    }

    &_item {
      flex: 1 1 30%;
      border: 1px solid var(--border-primary);
      border-radius: var(--rounded);
      padding: spacing(12);
      display: flex;
      flex-direction: column;
      gap: spacing(12);
      transition: var(--base-transition);

      @include md {
        gap: spacing(6);
        padding: spacing(6);
      }

      @include sm {
        gap: spacing(8);
        padding: spacing(8);
        border: none;
      }

      &_header {
        display: flex;
        align-items: center;
        gap: spacing(12);
        transition: var(--base-transition);

        @include md {
          gap: spacing(6);
        }

        @include sm {
          align-items: flex-start;
        }

        &_title {
          display: flex;
          flex-direction: column;
          gap: spacing(4);

          &_text {
            display: none;

            @include sm {
              display: block;
            }
          }
        }
      }

      &_text {
        @include sm {
          display: none;
        }
      }

      &--auth {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(119, 143, 153, 0.5) 90.95%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--trex {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(0, 0, 0, 0.3) 90.02%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--chat {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(31, 31, 31, 0.2) 89.64%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--crm {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(238, 88, 90, 0.2) 89.72%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--exchange {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(172, 164, 192, 0.365756) 60.71%, rgba(136, 123, 166, 0.5) 89.16%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--community {
        background: linear-gradient(174.26deg, rgba(240, 240, 240, 0.1) 4.4%, rgba(173, 149, 118, 0.5) 90.09%),
        linear-gradient(115.71deg, #FFFFFF 40.63%, rgba(255, 255, 255, 0.5) 100.06%);
      }

      &--auth,
      &--trex,
      &--chat,
      &--crm,
      &--exchange,
      &--community {
        @include sm {
          background: var(--color-white);
        }
      }
    }
  }

  &-arrows {
    width: 100%;
    display: none;
    justify-content: flex-end;
    padding-inline: spacing(12);

    &_item {
      display: flex;
      align-items: center;
      gap: spacing(12);

      & > button {
        border: 2px solid var(--border-primary);
        border-radius: 100%;
        background: var(--color-brand);
        display: flex;
        align-items: center;
        justify-content: center;

        & > svg {
          transition: var(--base-transition);
        }

        &:first-of-type:hover > svg {
          transform: translateX(-8px);
        }

        &:last-of-type:hover > svg {
          transform: translateX(8px);
        }
      }
    }
  }
}
