@use "../../utils/functions" as *;
@use "../../utils/mixin" as *;

.hero {
  &-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: spacing(24);

    @include sm {
      gap: spacing(8);
    }
  }

  &-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: spacing(24);
    padding: spacing(24) spacing(8);
    border: 1px solid var(--border-primary);
    border-radius: var(--rounded);
    text-align: center;
    transition: var(--base-transition);
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF),
    linear-gradient(180deg, rgba(31, 31, 31, 0.03) 0%, rgba(240, 240, 240, 0) 100%);

    @include md {
      gap: spacing(8);
      padding: spacing(8);
    }

    & > h1 {
      font-size: spacing(20);

      @include md {
        font-size: spacing(13.5);
      }
    }

    & > p {
      font-size: spacing(10);
      font-weight: 500;
      color: var(--text-dark);
      font-family: var(--font-montserrat), sans-serif;

      & > strong {
        color: var(--color-primary);
      }

      @include md {
        font-size: spacing(9);
      }
    }

  }

  &-cards {
    width: 100%;
    display: flex;
    border: 1px solid var(--border-primary);
    border-radius: var(--rounded);
    overflow: hidden;

    @include sm {
      flex-direction: column;
      border: none;
    }

    &_item {
      height: spacing(120);
      flex: 1 1 spacing(120);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: spacing(12);
      background: var(--color-white);

      &:nth-of-type(2) {
        border-left: 1px solid var(--border-primary);
        border-right: 1px solid var(--border-primary);
      }

      &:nth-of-type(3) {
        border-right: 1px solid var(--border-primary);
      }

      @include sm {
        height: auto;
        flex: none;
        width: 100%;
        flex-direction: row;
        gap: spacing(7.5);
        padding: spacing(8);

        &:nth-of-type(2) {
          border: none;
        }

        &:nth-of-type(3) {
          border: none;
        }
      }

      &_logo {
        width: 100%;
        padding: spacing(12);
        opacity: 0;
        animation: hero-logo 1s forwards;
        animation-delay: var(--hero-logo-delay);

        @include sm {
          width: auto;
          animation: none;
          opacity: 1;
          padding: 0;
        }
      }

      &_text {
        width: 100%;
        min-height: spacing(60);
        line-height: spacing(12);
        padding: spacing(12);
        background: var(--color-primary);

        @include sm {
          flex: auto;
          min-height: auto;
          background: var(--color-white);
          padding: 0;
        }

        & > p {
          color: var(--text-light);
          transform: translateY(20px);
          animation: hero-text-transform 1s forwards;
          animation-delay: var(--hero-text-delay);

          @include sm {
            color: var(--text-dark);
            animation: none;
            transform: translateY(0);
          }
        }

        &--brand {
          & > p > span {
            color: var(--text-light);
            text-decoration: underline;
            animation: hero-text-brand 1s forwards;
            animation-delay: var(--hero-text-delay);

            @include sm {
              color: var(--color-primary);
              animation: none;
            }
          }

          & > p > svg {
            color: var(--text-light);
            animation: hero-text-brand 1s forwards;
            animation-delay: var(--hero-text-delay);

            @include sm {
              display: none;
            }
          }
        }

        &--white {
          & > p > span {
            color: var(--text-light);
            animation: hero-text-white 1s forwards;
            animation-delay: var(--hero-text-delay);

            @include sm {
              color: var(--color-primary);
              animation: none;
            }
          }
        }


      }

      &_arrow {
        display: none;

        @include sm {
          display: flex;
          align-self: flex-start;
        }
      }
    }
  }
}

@keyframes hero-logo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hero-text-transform {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hero-text-brand {
  from {
    color: var(--text-light);
  }
  to {
    color: var(--color-brand);
  }
}

@keyframes hero-text-white {
  from {
    color: var(--text-light);
  }
  to {
    color: var(--color-white);
  }
}
