@use "../../utils/functions" as *;
@use "../../utils/mixin" as *;

.hero {
  &-content {
    display: flex;
    align-items: flex-start;
    gap: spacing(24);

    & img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    & button {
      width: fit-content;

      @include md {
        width: fit-content;
      }

      @include sm {
        width: 100%;
      }
    }

    &_left, &_right {
      flex: 1 1 50%;
    }

    &_right {
      height: 250px;
    }

    @include sm {
      &_right {
        display: none;
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: spacing(48);

      @include sm {
        gap: spacing(16);
      }

      &_header {
        display: flex;
        flex-direction: column;
        gap: spacing(16);

        &_title {
          display: flex;
          flex-direction: column;
          gap: spacing(12);

          & > h1 {
            font-size: spacing(16);
          }

          & > p {
            font-size: spacing(10);
            font-weight: 600;
          }

          @include sm {
            padding: spacing(8);
            border: 1px solid var(--border-primary);
            border-radius: var(--rounded);

            & > h1 {
              text-align: center;
              font-size: spacing(13.5);
            }

            & > p {
              text-align: center;
              font-size: spacing(9);
            }
          }
        }

        &_image {
          height: 250px;
          display: none;

          @include sm {
            display: block;
          }
        }
      }
    }
  }
}
