@use "../../utils/functions" as *;
@use "../../utils/mixin" as *;

.how_it_works {

  &-content {
    display: flex;
    flex-direction: column;
    gap: spacing(48);

    @include md {
      gap: spacing(24);
    }
  }

  &-top, &-bottom {
    display: flex;
    gap: spacing(48);

    @include md {
      gap: spacing(24);
    }

    @include sm {
      flex-direction: column;
      gap: spacing(8);
    }

    & > div {
      flex: 1 1 50%;

      @include sm {
        flex: none;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: spacing(24);
    padding: spacing(12);

    @include md {
      gap: spacing(12);
      padding: spacing(6);
    }

    @include sm {
      order: 2;
      gap: spacing(8);
      padding: 0;
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: spacing(12);

      @include sm {
        gap: spacing(8);
        padding: spacing(8);
      }

      & b {
        color: var(--color-primary);
      }

      & > img {
        max-width: spacing(160);
      }

      &_header {
        display: flex;
        align-items: center;
        gap: spacing(12);

        @include sm {
          gap: spacing(8);
        }
      }
    }
  }
}

#how-it-works-1, #how-it-works-2{
  @include sm {
    order: 1;
    height: spacing(165);
  }
}
