@use "../../utils/functions" as *;
@use "../../utils/mixin" as *;

.key_benefits {
  &-content {
    display: flex;
    gap: spacing(48);

    @include md {
      gap: spacing(24);
    }

    @include sm {
      flex-direction: column;
      gap: 0;
    }

    &_left, &_right {
      flex: 1 1 50%;

      @include sm {
        flex: none;
      }
    }

    &_right {
      @include sm {
        order: 1;
        height: spacing(200);
      }
    }

    &_left {
      display: flex;
      flex-direction: column;
      gap: spacing(24);
      padding: spacing(12);

      @include md {
        padding: 0;
        gap: spacing(8);
      }

      @include sm {
        order: 2;
      }

      &_item {
        display: flex;
        flex-direction: column;
        gap: spacing(12);

        @include md {
          padding: spacing(8);
        }

        & p {
          color: var(--text-dark);
        }

        & h3 {
          font-weight: 600;
        }

        & svg {
          min-width: spacing(25);
        }

        & > p {
          @include sm {
            display: none;
          }
        }

        &_header {
          display: flex;
          align-items: center;
          gap: spacing(12);

          @include sm {
            align-items: flex-start;
            gap: spacing(7.5);
          }

          &_title {
            display: flex;
            flex-direction: column;
            gap: spacing(4);

            & > p {
              display: none;

              @include sm {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
