@use "../../utils/mixin" as *;
@use "../../utils/functions" as *;

.hero {
  &-content {
    display: flex;
    gap: spacing(24);

    @include lg {
      gap: spacing(16);
    }

    @include md {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  &-info {
    padding: 101px 0;

    @include md {
      display: flex;
      padding: 0;
      flex-direction: column;
      align-items: center;
      margin-bottom: spacing(16);
    }
  }

  &-title {
    font-size: spacing(16);
    font-weight: 500;
    margin-bottom: spacing(12);
    line-height: 39px;
    letter-spacing: -0.25px;

    @include lg {
      font-size: spacing(13.5);
    }

    @include md {
      text-align: center;
    }
  }

  &-inner {
    @include md {
      border: 1px solid var(--border-primary);
      border-radius: 16px;
      padding: 16px;
      margin-bottom: spacing(16);
    }
  }

  &-subtitle {
    font-family: var(--font-montserrat), sans-serif;
    font-size: spacing(10);
    font-weight: 600;
    margin-bottom: spacing(48);

    @include lg {
      font-size: spacing(9);
    }

    @include md {
      text-align: center;
      margin-bottom: 0;
    }
  }

  &-image {
    img {
      width: 492px;
      height: 492px;
      object-fit: contain;

      @include md {
        width: 343px;
        height: 343px;
      }
    }

    @include md {
      display: none;
    }
  }

  &-image-mobile {
    display: none;

    img {
      width: 343px;
      height: 343px;
      object-fit: contain;
    }

    @include md {
      display: block;
    }
  }
}
