@use "../../utils/mixin" as *;
@use "../../utils/functions" as *;

.hero {
  &-content {
    display: flex;
    flex-direction: column;
    gap: spacing(24);

    @include md {
      gap: spacing(16);
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: spacing(12);
    border: 1px solid var(--border-primary);
    border-radius: var(--rounded);
    padding: spacing(24) 0;
    background: linear-gradient(0deg, #ffffff, #ffffff),
      linear-gradient(180deg, rgba(31, 31, 31, 0.03) 0%, #f0f0f000 100%);

    @include md {
      gap: spacing(8);
      padding: spacing(8);
    }
  }

  &-title {
    font-size: spacing(20);
    font-weight: 500;
    line-height: spacing(19.5);
    letter-spacing: -0.25px;
    text-align: center;

    @include md {
      font-size: spacing(13.5);
      line-height: spacing(16.5);
    }
  }

  &-subtitle {
    font-family: var(--font-montserrat), sans-serif;
    font-size: spacing(10);
    font-weight: 600;

    @include md {
      font-size: spacing(9);
      text-align: center;
    }
  }

  &-button {
    margin: auto;
    @include md {
      margin: 0;
    }
  }
}
