@use "../../utils/mixin" as *;
@use "../../utils/functions" as *;

.key-benefits {
  display: flex;
  gap: spacing(12);
  flex-wrap: wrap;

  @include md {
    flex-direction: column;
    align-items: center;
  }
}
