$breakpoints-xs: 414px;
$breakpoints-sm: 768px;
$breakpoints-md: 992px;
$breakpoints-lg: 1200px;
$breakpoints-xl: 1536px;

$black: #000000;
$white: #ffffff;
$primary: #1f1f1f;
$brand: #ee585a;
$white-paper: #f4f4f4;

$base-spacing: 0.125rem;
$header-width: 90rem;
$section-width: 60rem;
